
.idea/anticaptcha-python.iml

.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

upload.txt
anticaptchaofficial/__pycache__/__init__.cpython-313.pyc
anticaptchaofficial/__pycache__/antibotcookietask.cpython-313.pyc
anticaptchaofficial/__pycache__/recaptchav2proxyless.cpython-313.pyc
anticaptchaofficial/__pycache__/antinetworking.cpython-313.pyc
